[Unit]
Description=LTR Control Interface and Modbus Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/ltr_interface/main.py
WorkingDirectory=/home/pi/ltr_interface
User=root
Group=root
Environment=
TimeoutStopSec=30
Restart=on-abort

[Install]
WantedBy=multi-user.target
